@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0 auto;
    max-width: 1400px;
    background: rgb(245, 242, 242);
}

/* common shared styles */




/* navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar>ul>li {
    display: inline;
    margin-right: 34px;

}

.navbar>ul>li>a {
    color: #3A3A3A;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;

}

.hero {
    display: flex;
    justify-content: space-between;

}

.text-container {
    /* width: 50%; */
    width: 475px;
height: 475px;
    margin-top: 80px;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    color: #3A3A3A;
}

.hero-description {
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

.hero-btn {
    color: white;
    height: 44px;
    width: 196px;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    border: none;
    padding: 10px 24px 10px 24px;

}

.image-container {
    width: 475px;
    height: 475px;
    background-image: url(/iamges/images/Circle\ design.svg);
}
.image-container img{
    width: 100%;
}